:root {
    --crimson: #D80032;
    --rich-black: #00000E;
    --oxford-blue: #000022;
    --penn-blue: #001242;
    --russian-violet: #3A2353;
    --lavender: #F0E7FA;
    --magnolia: #F8F0FB;
}

.planning .parallax-two {
    background-image: url("../media/Images/spin-moon-orbit-motion-milky-way-galaxy-background-2021-12-09-20-06-10-utc.png");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    
}

.planning .parallax {
    background-image: url("../media/Images/backgrounds/stars.png");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.planning .planning-header {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 2%;
    margin: 0 30%;
    bottom: 10px;
    font-size: 45px;
    font-family: 'Russo One', sans-serif;
    
    border-radius: 10em;
}
