.parallax {
  background-image: url("../media/Images/astronautholdingglobe.png");
  min-height: 100vh;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.sources .sources-header {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 2%;
  margin: 0 30%;
  bottom: 10px;
  font-size: 45px;
  font-family: 'Russo One', sans-serif;
  
  border-radius: 10em;
}


.sources table {
  text-align: center;
  width: 90%;
  position:relative;
  margin: 0 auto;
  text-align: center;
  text-indent: center;
  
}

.sources table a{
  text-decoration: none;
  color: white;
}
.sources table a:hover{
  text-decoration: none;
  color: rgb(194, 165, 236);
}

.sources th, td {
  text-align: center;
  padding: 10px;

  ;
}

.sources th {
  background-color: #3A2353;
  
  color: white;
}

.sources .header{
  text-align: center;
}

/*.sources thead{
  display: flex;
}*/

.sources th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sources th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sources td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sources td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sources tfoot td {
  background-color: #3A2353;
  color: white;
  border-top: none;
  text-align: center;
  padding: 5px;
  font-style: italic;
  border-radius: 0 0 10px 10px;
}